html {
    width: 100%;
    height: 100%;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    /*background-color: #d8d9db;*/
    background-color: #d9dadc;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Inter', sans-serif;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2rem;
    letter-spacing: 1rem;
}

/* The emerging W3C standard
   that is currently Firefox-only */
* {
    scrollbar-width: thin;
    scrollbar-color: #000000 #b1b2b4;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-track {
    background: #b1b2b4;
}
*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 20px;
    border: 3px solid #b1b2b4;
}

.dosto-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.9);
    z-index: 100000;
    color: #ffffff;
    text-align: center;
}
.dosto-overlay-flex {
    display: flex;
    width: 100%;
    height: 100%;
}

.dosto-overlay .dosto-intro {
    display: none;
    flex: 1;
    align-self: center;
    margin: 5vw;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.dosto-flex-container {
    display: flex;
    flex-direction: column;
    min-height: 220vh;
}

.dosto-container {
    flex: 1;
    position: relative;
    min-height: 230vh;
    height: 230vh;
}

.dosto-title {
    text-align: center;
    top: 0;
    font-size: 5em;
    position: relative;
    letter-spacing: 30px;
    margin: auto;
    text-shadow: -38px 26px 8px #cacaca;
}
.dosto-title-wrapper,
.dosto-background,
.dosto-person {
    position: absolute;
    top: 0;
    width: 100%;
}

.dosto-title-wrapper {
    height: 25vh;
    display: flex;
}
.dosto-background {
    margin-top: 25vh;
}

.dosto-person {
    /* 220 vh in total */
    margin-top: 90vh;
    max-height: 130vh;
}

.dosto-background .temp-wire {width: 100px;height: 100px;/*! border: 2px solid black; */position: absolute;top: 0;display: inline-block;align-items: center;}
.dosto-background .temp-frame {
    max-width: 1024px;
    height: 1300px;
    border: 30px solid #b98c5c;
    margin: 0 auto;
    width: 85vw;
}
.dosto-background .temp-qr {
    padding-top: 20vh;
    position: absolute;
    width: 400px;
    margin: 0 auto;
    display: inline-block;
    left: 50%;
    margin-left: -200px;
}

.dosto-background .temp-qr a {
    display: inline-block;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    cursor: pointer;
    background-image: url("qr.png");
    position: absolute;
    z-index: 100;
}

.dosto-person .temp-person {
    justify-content: center;
    max-width: 820px;
    height: 1300px;
    border: 2px solid black;
    margin: 0 auto;
    width: 90vw;
}

.dosto-slider-cont {
    top: 40vh;
    position: relative;
    width: 700px;
    height: 800px;
    margin: 0 auto;
}

#dosto-slider {
    border: 15px solid white;
    background-color: white;
}

.dosto-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 25vh;
    background-color: #000000;
    color: #FFFFFF;
}
.dosto-footer ul {
    display: flex;
    width: 100%;
    align-items: stretch; /* Default */
    justify-content: space-between;
    margin: 20px 30px;
    padding: 0;
}
.dosto-footer ul > li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
}
